.home {
    background-image: url(/public/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  } 


  /* NAVBAR  */
  
  .nav {
    display: flex;
    background-color: #1f262e;
    align-items: center;
  }
  
  
  .nav_item {
    color: #f1f3f3;
    margin: 0 0.2rem;
    font-style: none;
  }

  
/* ------------------------------------------------- HOME ------------------------------------------------- */

.CelShop {
    padding: 0.5rem 1rem;
    font-size: 26px;
    font-weight: 700;
    color: white;
  }
  
  .home_area{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15rem;
    width: 20rem;
    height: 10rem;
    background-color: rgba(31, 38, 48, 0.6);
  }
  
  .home_title {
    color: #f1f3f3;
    font-size: 60px;
  }
  
  .home_subtitle {
    color: white;
  }